langchain
langchain-google-genai
langchain-groq
langchain-community
pyttsx3
faiss-cpu
sentence-transformers
PyPDF2
gtts
pywin32
speechrecognition
pypdf
pyaudio
langgraph
openai-whisper
langchain-text-splitters
langchain-huggingface
bs4
streamlit
pydub
ffmpeg